<div class="clearfix author-footer">
    <img class="profile-image" src="{{@blog.logo}}" />
        <div class="author-name">{{@blog.title}}</div>
        <div class="author-description">{{@blog.description}}</div>
         {{#if author.location}}
            <p class="address">{{author.location}}</p>
         {{/if}}
	I'm a tech generalist with keen interest in science, innovation, and entrepreneurship. I keep up with change by writing in this site about programming, new tech, history, and business development.
        </div>  
</div>

