<div class="floating">
 <ul class="social">
  <!--li><input class="profile-social" type="image" onclick="smoothScroll(document.getElementById('author')); return false;" src="//www.gravatar.com/avatar/bbcfa9687b5878040a22a40eae0042a5?s=250&d=mm&r=x" /></li-->
  <li> <a href="http://twitter.com/cdvel" class="icon-twitter" rel="external" target="_blank" title="Twitter"></a></li>
  <li> <a href="https://github.com/cdvel" class=" icon-github-circled-1" rel="external" target="_blank" title="GitHub"></a></li>
  <li> <a href="https://instagram.com/cdvel" class=" icon-instagram" rel="external" target="_blank" title="Instagram"></a></li>
  <li> <a href="https://stackoverflow.com/users/4745881?tab=profile" class=" icon-stackoverflow" rel="external" target="_blank" title="StackOverflow"></a></li>
  <!--<li> <a href="https://codepen.io/cdvel" class=" icon-codeopen" rel="external" target="_blank" title="Codepen"></a></li>-->
  <li> <a href="https://www.linkedin.com/in/cesarvelandia/" class=" icon-linkedin" rel="external" target="_blank" title="LinkedIn"></a></li>
  <!--li> <a href="https://www.apple.com/" class=" icon-apple" rel="external" target="_blank" title="Apple Store"></a></li-->
  <li> <a href="mailto:cesar@velandia.co" class=" icon-email" rel="external" target="_blank" title="Email"></a></li>
 </ul>
</div>
