 <ul class="social">
  <li> <a href="#author" class="icon-facebook" rel="external" title="Home"></a></li>
  <!-- <li> <a href="https://www.facebook.com/cdvelandia" class="icon-facebook" rel="external" title="My Facebook"></a></li> -->
  <li> <a href="http://twitter.com/cdvel" class="icon-twitter" rel="external" target="_blank" title="Follow me on Twitter"></a></li>
  <li> <a href="http://plus.google.com/+CesarDarioVelandia/posts" class="icon-gplus-1" rel="external" target="_blank" title="Socialize on Google+"></a></li>
  <li> <a href="https://instagram.com/cdvel" class=" icon-instagram" rel="external" target="_blank" title="Browse my Instagram"></a></li>
  <li> <a href="http://www.linkedin.com/in/cesardvelandia" class="icon-linkedin" rel="external" title="My LinkedIn"></a></li>
  <!-- <li> <a href="https://github.com/cdvel" class=" icon-github-circled-1" rel="external" target="_blank" title="Fork a repo on GitHub"></a></li>-->
  <!-- <li> <a href="#" class="icon-youtube" rel="external" title="My YouTube"></a></li> -->
  <!-- <li> <a href="mailto:cesar@velandia.co" class="icon-mail-1" rel="external"  title="Email me"></a></li> -->
</ul>
